body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: white;
}


.dialpad {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom right, #04e7e7 25%, #3d5afe 75%, #251285);
    color: white;
    height: 65vh;
}

.header { height: 35%; }
.header-title { height: 60%; }
.header-select { height: 40%; }
.switch-label { 
    font-size: 1.25rem;
    margin-left: -10px;
    margin-right: -10px;
}

.input {
    height: 15%;
    backdrop-filter: brightness(90%);
}
input[type="text"] {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    margin-left: 24px;
}
.input-box:focus { outline: none; }

.keypad-num { font-size: 2rem;}
.keypad-symbol {
    height: 1.5rem;
    display: block;
    margin: auto;
}


.contacts { font-family: 'Montserrat', 'sans-serif'; }
.contact-list { 
    height: 35vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.contacts-row { height: 8vh; }
.contact-img {
    height: 70%;
    width: auto;
    display: block;
    margin: 15% auto;
}
.contact-name { font-size: 1.5rem; }
.contact-phone { font-size: 1.25rem; color: grey; }